*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}
header {
    margin: 0px;
    padding: 50px;
    font-family: Arial, sans-serif;
    background: #080101;
    color: #fffff3;
    justify-content: center;
    align-items: center;
  }


  button {
    width: 8%;
    padding: 5px;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #535353;
  }
  
  button:hover {
    transition: 0.5s;
    transform: scale(1.04);
    background-color: rgb(196, 65, 65);
  }

  body{
    font-family: Arial, sans-serif;
    background-color: #1d1c1c;
  }

  .leona {
    font-family: Arial, sans-serif;
    background: rgb(56, 56, 56);
    color: #fffff3;
    padding: 30px;
    margin: 90px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    max-width: 75%;
    transition: 0.5s;
  }

  .leona:hover{
    transition: 0.5s;
    background-color: rgb(56, 112, 45);
    transform: scale(1.02);
    
  }

  .salvio {
    font-family: Arial, sans-serif;
    background: rgb(56, 56, 56);
    color: #fffff3;
    padding: 30px;
    margin: 90px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    max-width: 75%;
    transition: 0.5s;
  }

  .salvio:hover{
    transition: 0.5s;
    background-color: rgb(56, 98, 145);
    transform: scale(1.02);
    
  }

  .jay {
    font-family: Arial, sans-serif;
    background: rgb(56, 56, 56);
    color: #fffff3;
    padding: 30px;
    margin: 90px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    max-width: 75%;
    transition: 0.5s;
  }

  .jay:hover{
    transition: 0.5s;
    background-color: rgb(83, 83, 83);
    transform: scale(1.02);
    
  }

  .jet {
    font-family: Arial, sans-serif;
    background: rgb(56, 56, 56);
    color: #fffff3;
    padding: 30px;
    margin: 90px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    max-width: 75%;
    transition: 0.5s;
  }

  .jet:hover{
    transition: 0.5s;
    background-color: rgb(83, 83, 83);
    transform: scale(1.02);
    
  }

  .pic{
    border-radius: 10px;
  }
